<form action="/register" method="POST" id="registerform">
        <div id="wrongPass">{{wrongPass}}</div>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name">
        <input type="email" name="email" id="email" placeholder="Enter valid Email">
        <input type="text" name="phone" id="phone" placeholder="Enter active Phone Number">
        <input type="password" name="password" id="password" placeholder="Enter your Password"><br>
        <small> Password must be of minimum 5 characters and maximum 10 characters</small>
        <input type="text" name="confirmpassword" id="confirmpassword" placeholder="Confirm your password">
        <input type="text" name="msg" id="msg" placeholder="Enter message for me">

        <button type="submit" id="submit">Submit</button>
</form>